.inputField{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.input {
    border: 0;
    outline: none;
    box-shadow: none;
    height: 20px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
}
.cabecera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.boton{
    border: none;
    background-color: transparent;
}
.tilde{
    font-size: 3rem;
}
.datosEmbarque{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 500px;
}
.datosPadre{
    display: flex;
    flex-direction: column;
    align-items: center;
}